#On ignore les swap
*.swp
#On ignore les repertoires builds et bin
/bin/
/build/
#On ignore les fichiers de conf propre aux serveurs
/etc
#On ignore les données
/dataStore/
#Chacun son Makefile
Makefile.inc
#Chacun son liste d'ip
hosts.conf
#Le lien du makefile depend de la distrib utilisée
Makefile
