#On ignore les swap
*.swp
#On ignore les rÃpertoires builds et bin
/bin/
/build/
#On ignore les données
/dataStore/
#Chacun son Makefile
Makefile.inc
#Chacun son liste d'ip
hosts.conf
#Le lien du mekefile depends de la distrib utilisée
Makefile
